.bookingFormPosition {
  margin: 0 auto;
  width: 90vw;
  margin: 2rem auto;
  display: block;
}
.bookingFormPositio .logo {
  position: fixed;
  top: 0;
  left: 0;
}
.bookingFormFlex {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  font-family: "Karla", sans-serif;
  color: #495e57;
}
.Form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
