.highlightsFlex {
  display: flex;
  flex-direction: column;
  margin: 5rem 1rem;
}
.headerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  background-color: #edefee;
  border-radius: 16px;
  font-family: "Karla";
  margin: 1rem;
  height: 320px;
}

.cardImg {
  border-radius: 16px;
  width: auto;
  height: 50%;
}

/* Highlights.css */
.carouselContainer {
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the carousel */
.carousel {
  display: flex;
  flex-wrap: nowrap; /* Prevent items from wrapping */
}

/* Style for the card container */
.carouselCard {
  flex: 0 0 calc(25% - 1rem); /* Each card occupies about 25% width with 1rem gap */
  margin: 4rem 0.5rem;
  transition: transform 0.3s ease-in-out;
  background-color: #edefee;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: center;
}

h5.price {
  margin: 0;
  color: #ee9972;
}

/* Style for card image */
.cardImg {
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-height: 200px; /* Set a max-height for the image */
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameOfDish {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.cardText p {
  margin: 0.5rem 0;
  color: #666;
  font-size: 0.9rem;
}

.orderButton {
  background-color: transparent;
  border: 1px solid #495e57;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.orderButton:hover {
  background-color: #495e57;
  color: white;
}
.control-dots .dot {
  background-color: #ee9972; /* Change to your desired color */
}
