.testimonialsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.usersFlex {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.userReview {
  max-width: 20vw;
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}
.userReview img {
  width: 50%;
}
.usersFlex p {
  color: #edefee;
  text-align: center;
}
