/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 500px;
  min-height: 100vh;
  max-width: 100vw;
}
h1 {
  font-family: "Markazi Text", serif;
  font-size: 5.3rem;
  color: #f4ce14;
  font-weight: 500;
}
h2 {
  font-family: "Markazi Text", serif;
  font-size: 3.3rem;
  color: #495e57;
}

h3 {
  font-family: "Markazi Text", serif;
  font-size: 3.3rem;
  color: #edefee;
  font-weight: 400;
}
h4 {
  font-family: "Karla", sans-serif;
  color: #495e57;
}
a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  color: #333333;
  transition: 0.3s;
}
a:hover {
  color: #ee9972;
  text-shadow: 2px 1px 2px white;
}

p {
  font-family: "Karla", sans-serif;
  max-width: 65ch;
}
button {
  background-color: #f4ce14;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  color: #495e57;
  border-radius: 5rem;
  border: none;
}
button:hover {
  color: #ee9972;
  background-color: #333333;
  transition: 0.7s;
}
